@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./assets/Fonts/BricolageGrotesque_24pt-Regular.ttf") format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./assets/Fonts/BricolageGrotesque_24pt-Bold.ttf") format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./assets/Fonts/BricolageGrotesque_24pt-Light.ttf") format("ttf");
  font-style: normal;
}
